.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-line {
  border: none !important;
}

.tonal-shift {
  transition: background-color 0.3s ease;
}

body {
  min-height: max(884px, 100dvh);
}
